@font-face {
  src: url('/fonts/azo-sans-uber-webfont.woff2') format('woff2'),
    url('/fonts/azo-sans-uber-webfont.woff') format('woff');
  font-family: 'AzoSansUberW01-Regular';
  font-weight: normal;
  font-style: normal;
}

html {
  background-attachment: fixed;
  background-image: url('/images/sketch-white.jpg');
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 300px;
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: 'AzoSansUberW01-Regular';
  margin-top: 2rem;
  margin-bottom: 0rem;
}

h2 {
  font-weight: bold;
  font-size: 1.05rem;
  margin-top: 0;
}

p {
  font-size: 1.15rem;
  line-height: 1.75;
  font-weight: 300;
}

p strong {
  font-weight: 700;
}

hr {
  border: none;
  border-top: dashed 1px rgba(0, 0, 0, 0.25);
}
